/* .points {
  margin-top: -2rem;
  margin-left: 5rem;
} */
.card {
  padding: 2rem;
  /* margin: 2rem; */
}
.ques-btn {
  margin-top: 0.6rem;
}
.quest-index {
  margin-right: 4rem;
}
.quest-attr {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
