.recording-card {
  /* display: flex; */
  /* justify-content: center; */
  /* margin-left: 30%; */
  width: 40%;
  /* display: flex; */
  margin: 10% auto;
  /* height: 50%; */
  /* align-items: center; */
  font-size: 1rem;
}

.mic {
  font-size: xx-large;
}
.word-guess {
  font-size: large;
}
.content-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dynamic-names {
  font-size: x-large;
  font-weight: 700;
}

.next-icon {
  /* margin-right: 2rem; */
  display: flex;
  justify-content: end;
  align-items: center;
  /* size: 10rem; */
}
