.recording-card {
  /* display: flex; */
  /* justify-content: center; */
  /* margin-left: 30%; */
  width: 44%;
  /* display: flex; */
  margin: 9% auto;
  padding-top: 1%;
  /* padding-left: -2rem; */
  /* height: 50%; */
  /* align-items: center; */
  font-size: 1rem;
}

.mic {
  font-size: xx-large;
}
.word-guess {
  font-size: large;
}
.content-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dynamic-names {
  font-size: x-large;
  font-weight: 500;
}

.next-icon {
  /* margin-right: 2rem; */
  display: flex;
  justify-content: end;
  align-items: center;
  /* size: 10rem; */
}

.dynamic-names {
  text-align: center;
}
.card-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 2;
}
.btn-style {
  margin-top: 3%;
  margin-bottom: 2%;
  align-self: center;
}
.audio-style {
  align-self: center;
}
