/* .react-quiz-container {
  margin-top: 6.1rem;
  padding-bottom: 1rem;
}
.react-quiz-container .questionWrapper {
  margin: auto;
  width: 40%;
} */

.score-card {
  background-color: #181f42;
  margin: 1rem;
  margin-top: -0.9rem;
  padding-top: 1.3rem;
}
.react-quiz-container .btn {
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  padding: 11px 12px;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.quest-card {
  /* margin-top: 1rem; */
  padding: 0.8rem;
}
.startQuizWrapper {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  margin-left: -0.5rem;
}
.react-quiz-container .startQuizWrapper .startQuizBtn {
  /* margin: auto; */
  font-size: 20px;
  /* width: 100%; */
  /* margin-left: 12rem; */
  /* margin: auto; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 2px;
  line-height: 1.35135;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

.react-quiz-container .quiz-synopsis {
  /* size medium */
  font-size: 1.2rem;
  margin: 15px 0px;
}

@media screen and (max-width: 430px) {
  /* body {
      background-color: lightgreen;
    } */
  .result-tags {
    display: none;
  }
}

.card {
  padding: 2rem;
  /* margin-top: 2rem; */
}
.ques-btn {
  margin-top: 0.6rem;
}
.quest-index {
  margin-right: 4rem;
}
.quest-attr {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
