.ini-time {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
}

.time {
  font-size: 36px;
  margin-left: -10px;
  margin-right: -10px;
}
.time span {
  /* margin-right: 2rem; */
}
.timee {
  font-size: 20px;
}
.timeee {
  font-size: 26px;
}
